<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset="UTF-8">
	<title>Sasha's Codius Contract</title>
</head>
<body>
	<h1>Codius application home page</h1>
	<p>This is working on a codius host!</p>
</body>
</html>